<div>
    <h4>Api Resources</h4>
    <hr/>
    <div class="form-group">
        <div id="messageDiv"></div>
        <table id="ApiResource" cellpadding="0" cellspacing="0">
        </table>

        <div id="ApiResourcePager">
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            var $resources = $('#ApiResource');
            $resources.jqGrid({
                url: '@Url.Action("GetAllApiResources", "ManageApi")',
                editurl: '@Url.Action("UpdateApiResources", "ManageApi")',
                datatype: 'json',
                mtype: 'POST',
                /*cmTemplate: { align: 'center' },*/
                colNames: ['', 'Id', 'Name', 'DisplayName', 'Description', 'Scopes', 'Claims'],
                colModel: [
                    {formatter: 'actions',
                        formatoptions: {
                            keys: true,
                            delOptions: {url: '@Url.Action("DeleteApiResources", "ManageApi")'}
                        },
                        resizable: false,
                        width: 60,
                        name: 'actions'
                    },
                    {name: 'Id', sortable: false, editable: false, width: 300},
                    {name: 'Name', sortable: false, editable: true, editrules: {required: true}, width: 150},
                    {name: 'DisplayName', sortable: false, editable: true, width: 150},
                    {name: 'Description', sortable: false, editable: true, width: 350},
                    {name: 'Scopes', formatter: scopeButton, width: 80, align: 'center'},
                    {name: 'Claims', formatter: claimButton, width: 80, align: 'center'}],

                loadComplete: function (data) {
                    let rowDataArray = data.rows;
                    for (let i = 0, j = rowDataArray.length; i < j; i++) {
                        let temp = rowDataArray[i];
                        $("#btn_scopes_" + temp.id).click(() => {
                            var grid = $("#ApiResource");
                            var celValue = grid.jqGrid('getCell', temp.id, 'Name');
                            var baseUrl = "@Html.Raw(Url.Action("ApiScope", "ManageApi", new { apiResourceId = -1, apiResourceName = -2 }))";
                            location.href = baseUrl.replace('-1', temp.id).replace('-2', celValue);
                        });
                        $("#btn_claims_" + temp.id).click(() => {

                            var grid = $("#ApiResource");
                            var celValue = grid.jqGrid('getCell', temp.id, 'Name');
                            var baseUrl = "@Html.Raw(Url.Action("ApiResourceClaims", "ManageApi", new { apiResourceId = -1, apiResourceName = -2 }))";
                            location.href = baseUrl.replace('-1', temp.id).replace('-2', celValue);
                        });
                    }
                },

                caption: 'Api Resources',
                loadonce: false,
                refresh: true,
                footerrow: true,
                userDataOnFooter: true,
                jsonReader: {repeatitems: false, id: 'Id'},
                pager: $('#ApiResourcePager'),
                rowNum: 10,
                viewrecords: true,
                height: '100%',
            })

                .jqGrid('navGrid', '#ApiResourcePager', {add: false, edit: false, del: false, search: false})
                .jqGrid('inlineNav', '#ApiResourcePager', {
                        edit: false,
                        addParams: {
                            useDefValues: true,
                            addRowParams: {
                                keys: true,
                                extraparam: {},
                                successfunc: function (val) {
                                    if (val.responseText != "") {
                                        if (val.responseText == '"Success"') {
                                            $("#messageDiv").append("<div id='divSuccess' class='alert alert-success alert-dismissible fade show' role='alert'><p id='SuccessMessgage'>ApiResource successfully added.</p> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
                                            $(this).jqGrid('setGridParam', {datatype: 'json'}).trigger('reloadGrid');
                                        } else {
                                            $("#messageDiv").append("<div id='divSuccess' class='alert alert-danger alert-dismissible fade show' role='alert'><p id='SuccessMessgage'>" + val.responseText + "</p> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
                                        }
                                    }
                                }
                            }
                        },
                        editParams: {
                            keys: false,
                            oneditfunc: null,
                            successfunc: function (val) {
                                if (val.responseText != "") {
                                    $(this).jqGrid('setGridParam', {datatype: 'json'}).trigger('reloadGrid');
                                }
                            }
                        }
                    },
                )

            function scopeButton(cellvalue, options, rowObject) {
                return "<button id='btn_scopes_" + rowObject.id + "' style='background-color: black;color: white;border: 1px solid #e4e4e4;padding: 5px;border-radius: 3px;cursor: pointer;'>Scopes</button>"
            }

            function claimButton(cellvalue, options, rowObject) {
                return "<button id='btn_claims_" + rowObject.id + "' style='background-color: black;color: white;border: 1px solid #e4e4e4;padding: 5px;border-radius: 3px;cursor: pointer;'>Claims</button>"
            }
        });

    </script>
}
